.places {
    width: 100%;
    padding-top: 92px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 80px;
    grid-auto-rows: 1fr;
    margin: 0 auto;
}
@media screen and(max-width: 768px) {
    .places {
        padding-top: 88px;
        row-gap: 70px;
    }
}
@media screen and(max-width: 320px) {
    .places {
        padding-top: 64px;
        row-gap: 50px;
    }
}