.places {
    padding-top: 92px;
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 80px;
    grid-auto-rows: 1fr;
    margin: 0 auto;
}
@media screen and(max-width: 768px) {
    .places {
        row-gap: 70px;
    }
}
@media screen and(max-width: 320px) {
    .places {
        width: 100vw;
        padding: 64px;
        display: grid;
        grid-template-columns: 90vw;
        grid-template-rows: 1fr;
        row-gap: 50px;
        grid-auto-rows: 1fr;
        position: relative;
    }
}