.lead__title {
    max-width: 720px;
    font-size: 96px;
    line-height: 100px;
    font-family: 'InterBlack';
    font-weight: 900;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
@media  screen and (max-width: 768px) {
    .lead__title {
        width: 90vw;
        font-size: 54px;
        line-height: 58px;
    }
}
@media  screen and (max-width: 320px) {
    .lead__title {
        min-width: 90%;
        font-size: 40px;
        line-height: 44px;
    }
}