.place__paragraph {
    margin: 0;
    padding: 0;
    font-family: 'InterRegular';
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    margin-bottom: 26px;
    color: #fff;
    grid-area: paragraph;
    align-self: start;
}
@media screen and (max-width: 768px) {
    .place__paragraph {
        width: 90%;
        font-size: 16px;
    }
}