.lead__image {
    max-width: 80%;
    height: 90vh;
    background-image: url(../../../images/kalegin-michail-179870-unsplash.jpg);
    background-size: cover;
    margin: 0 auto;
}
@media screen and (max-width: 1024px) {
    .lead__image {
        width: 90%;
        max-height: 70vh;
    }
    
}
@media screen and (max-width: 768px) {
    .lead__image {
        width: 100vw;
        max-height: 60vh;
    }
    
}
@media screen and (max-width: 425px) {
    .lead__image {
        max-height: 40vh;
    }
    
}
@media screen and (max-width: 320px) {
    .lead__image {
        height: 200px;
    }
    
}