.cover__background {
    background-image: url(../../../images/__background.jpg);
    background-size: cover;
    max-width: 100%;
    min-height: 740px;
}
@media screen and(max-width: 1024px) {
    .cover__background {
        max-width: 100vw;
        min-height: 640px;
    }
    
}
@media screen and(max-width: 768px) {
    .cover__background {
        max-width: 100vw;
        min-height: 480px;
    }
    
}
@media screen and(max-width: 320px) {
    .cover__background {
        width: 320px;
        height: 200px;
    }

}