.lead__caption {
    margin-top: 8px;
    margin-left: 10%;
    font-family: 'InterRegular';
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: #fff;
}
.lead__caption:hover {
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
    .lead__caption {
        margin-left: 5%;
    }
    
}
@media screen and (max-width: 320px) {
    .lead__caption {
        margin-left: 12px;
    }
    
}