.place {
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr minmax(min-content, max-content);
    grid-template-rows: minmax(min-content, max-content) 1fr;
    gap: 48px 40px;
    grid-template-areas: 
    "title website"
    "image paragraph";
}
@media screen and(max-width: 1024px) {
    .place {
        grid-template-columns: 1fr minmax(min-content, max-content);
        grid-template-rows: minmax(min-content, max-content) 1fr;
        gap: 48px 32px;
    }
    
}
@media screen and(max-width: 768px) {
    .place {
        padding-top: 88px;
        grid-template-columns: 1fr minmax(min-content, max-content);
        grid-template-rows: minmax(min-content, max-content) 1fr;
        gap: 48px 28px;
    }
}
@media screen and(max-width: 320px) {
    .place {
        max-width: 100%;
        display: grid;
        grid-template-columns: 90vw;
        grid-template-rows: 35px 46px 320px minmax(min-content, max-content);
        gap: 32px;
        grid-auto-rows: 35px 46px 320px minmax(min-content, max-content);
        grid-template-areas: 
        "title"
        "website"
        "image"
        "paragraph";
    }
}