.place {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr minmax(min-content, max-content);
    grid-template-rows: minmax(min-content, max-content) 1fr;
    gap: 48px 40px;
    grid-template-areas: 
    "title website"
    "image paragraph";
}
@media screen and (max-width: 1024px) {
    .place {
        width: 90%;
        column-gap: 32px;
    }
    
}
@media screen and (max-width: 768px) {
    .place {
        column-gap: 28px;
    }
}
@media screen and (max-width: 320px) {
    .place {
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content 1fr minmax(min-content, max-content);
        row-gap: 32px;
        grid-auto-rows: min-content min-content 1fr minmax(min-content, max-content);
        grid-template-areas: 
        "title"
        "website"
        "image"
        "paragraph";
    }
}