.footer {
    max-width: 90vw;
    padding-top: 92px;
    padding-bottom: 24px;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 768px) {
    .footer {
        padding-top: 88px;
    }
    
}
@media screen and (max-width: 425px) {
    .footer {
        padding-top: 64px;
        flex-direction: column;
    }
}